---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Error">
    <main>
      <article class="region prose wrapper hero">
        <h1 style="margin-bottom: var(--space-xs);">404 Error</h1>
      </article>

      <article class="region prose wrapper">
         <!-- Add your text here -->
         
        <ul role="list" class="flow features">
          <li class="flow">
            <p>Oops! The page you are looking for does not exist. You can return to the homepage using the link below.</p>
            <h3><a href="/">home</a></h3>
          </li>
        </article>

        <footer class="region prose wrapper">
            © 2024 | Richard Kozyak</span>
          </footer>
    </main>
</Layout>