---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <main>
    <article class="region prose wrapper hero">
      <h1 style="margin-bottom: var(--space-xs);">About Me</h1>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="flow features">
        <!-- Vertical stack-->
        <li class="vertical-stack">
          <p>
            Hi! <span role="img" aria-label="waving hand emoji">👋</span> <br><br> 
            My name is Richard Kozyak. I'm currently studying Computer Science with concentrations in Cybersecurity/Privacy and Info Internetworks at the <a href="https://www.gatech.edu/">Georgia Institute of Technology</a>. I enjoy programming, reading, and listening to music. Feel free to contact me at contact@rkozyak.me or add me on discord at @86_
          </p>
          <h2><a href="/">Home</a></h2>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      © 2024 | Richard Kozyak
    </footer>
  </main>
</Layout>