---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <main>
    <article class="region prose wrapper hero">
      <h1 style="margin-bottom: var(--space-xs);">About Me</h1>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="flow features">
        <!-- Vertical stack-->
        <li class="vertical-stack">
          <p>
            Hi! <span role="img" aria-label="waving hand emoji">👋</span> <br><br> 
            My name is Richard Kozyak. I'm currently studying Computer Science with concentrations in <a href="https://www.cc.gatech.edu/cybersecurity-and-privacy">Cybersecurity/Privacy</a> and <a href="https://www.cc.gatech.edu/academics/threads/information-internetworks">Information Internetworks</a> at the Georgia Institute of Technology. I enjoy tinkering with my <a href="/pc">homelab</a>, reading books, and listening to music. 
          </p>
          </p>
            I'd love to chat so feel free  to reach out! You can email me at hello@rkozyak.me or message me on discord at @86_
          </p>
          
          <h2><a href="/">Home</a></h2>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      © 2024 | Richard Kozyak
    </footer>
  </main>
</Layout>