---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Richard Kozyak">
  <main>
    <article class="region prose wrapper hero">
      <h1 style="margin-bottom: var(--space-xs);">Richard Kozyak</h1>

      <h2 style="margin-top: 0;">
        Computer Science student at <a href="https://www.gatech.edu/">Georgia Tech</a> 
      </h3>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="flow features">
        <li class="flow">
          <h3><a href="/about">about</a></h3>
        </li>

        <li class="flow">
          <h3><a href="/projects">projects</a></h3>
        </li>

        <li class="flow">
          <h3><a href="/socials">socials</a></h3>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      © 2024 | Richard Kozyak</span>
    </footer>
  </main>
</Layout>
