---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <main>
        <article class="region prose wrapper hero">
          <h1 style="margin-bottom: var(--space-xs);">Projects</h1>
        </article>
    
        <article class="region prose wrapper">
          <ul role="list" class="flow features">
            <!-- Vertical stack-->
            <li class="vertical-stack">
              <h2><a href="/">Home</a></h2>
            </li>
          </ul>
        </article>
    
        <footer class="region prose wrapper">
          © 2024 | Richard Kozyak
        </footer>
      </main>
</Layout>