---
import BaseLayout from '../layouts/Layout.astro';
import SEO from '../SEO.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <SEO title={frontmatter.title} />
    <article class="region prose wrapper hero">
        <h1 style="margin-bottom: var(--space-xs);">{frontmatter.title}</h1>
        <div class="content">
            <slot />
        </div>

        <footer class="region prose wrapper">
            <p><a href="/projects">Other Projects</a></p>
        </footer>
    </article>
</BaseLayout>
