@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 100 700; /* Range for variable font */
  font-display: swap;
  src: url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Path to your font */
}

/* Base typesetting */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Code'; /* Updated */
}
